.form_style {
    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0%;
    margin-bottom: 8%;
}

.todo_input {
    padding-left: 3px;
    color: green;
    font-weight: 600;
}

.seperator {
    width: 10px;
}

.add_btn {
    height: 2em;
}
